<!DOCTYPE html>
<html>
  <head>
    <title>Schuyler Thompson's Personal Website | <%= @title %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'ie.css', :media => 'screen, projection' %><![endif]-->
                                                                                           </head>
  <body>
    <div id="wrap">
      <div id="header">
        <p>
          <h1 class="topheading">schuyler thompson</h1>
        </p>
        <p>
          <div id="links">
            <ul id="navlist">
              <li><a class="blue" href="/pages/home">Home</a></li>
              <li><a class="blue" href="/pages/bio">Bio</a></li>
              <li><a class="blue" href="/pages/resume">Resume</a></li>
            </ul>
          </div>
        </p>
      </div>
<script>
$(window).load(function(){
    (function($){
        $.fn.extend({
            center: function () {
                return this.each(function() {
                    var left = ($(window).width() - $(this).outerWidth()) / 2;
                    $(this).css({position:'absolute', margin:0, left: (left > 0 ? left : 0)+'px'});
                });
            }
        });
    })(jQuery);
    $('#navlist').center();
});
</script>
      <div id="content">
        <%= @content.html_safe %>
      </div>
      
      <%= yield %>
    </div>
  </body>
</html>
